.carousel-content {
    position: absolute;
    top: 0;
    z-index: 10;
    text-align: center;
    width: 100%;
    color: white;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 100;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images div {
    background-color: #efefef;
}

.carousel-container {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}