<div class="container carousel-container">
  <div class="container text-center mt-5 carousel-content">
    <h1>Welcome to Travel Birds</h1>
    <p>Your trusted travel companion for unforgettable adventures. Explore the world with us. We provide the best travel
      packages!</p>
    <a href="#contact" class="btn btn-primary">Get In Touch</a>
  </div>
  <div class="carousel-images">
    <div class="col-md-12">
      <img src="{{linkPath}}assets/carousel-1.jpg" alt="Image 1" class="col-md-12">
    </div>
    <div class="col-md-12">
      <img src="{{linkPath}}assets/carousel-2.jpg" alt="Image 2" class="col-md-12">
    </div>
    <div class="col-md-12">
      <img src="{{linkPath}}assets/carousel-3.jpg" alt="Image 3" class="col-md-12">
    </div>
    <div class="col-md-12">
      <img src="{{linkPath}}assets/carousel-4.jpg" alt="Image 4" class="col-md-12">
    </div>
  </div>
  <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
  <button class="next" onclick="moveSlide(1)">&#10095;</button>
</div>